---
import Layout from "../layouts/Layout.astro";
import FavoritosComponent from "../components/Favoritos";
import "../styles/global.css";
import AuthGuard from "../components/SuscripcionGuard";
---

<Layout>
  <AuthGuard client:only="react">
    <div class="bg-white min-h-screen w-full">
      <main class="max-w-5xl mx-auto pt-8 px-4 py-10">
        <FavoritosComponent client:load />
      </main>
    </div>
  </AuthGuard>
</Layout>
