---
import Layout from "../layouts/Layout.astro";
import LosMejoresComponent from "../components/Losmejores";
import "../styles/global.css";
import AuthGuard from "../components/SuscripcionGuard";
---

<Layout>
  <AuthGuard client:only="react">
    <div class="bg-white min-[calc(100vh-64px)] w-full overflow-hidden">
      <main class="max-w-7xl mx-auto pt-8 px-4 py-10">
        <LosMejoresComponent client:load />
      </main>
    </div>
  </AuthGuard>
</Layout>
